@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


body {
 font-family: 'Montserrat', sans-serif;
}

.container{
  padding: 15px;
  width:100%;
  min-height: 500px;
}

.wrapper {
  font-family: "Montserrat";
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  margin-top: 20px;
  border: 1px solid lightgray;
}

.title{
  font-size: 25px;
  font-weight: 500;
  display:flex;
  align-items: center;
  justify-content: space-between;
  color:rgb(58, 58, 58);
}

.table{
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
  border:1px solid lightgray;
}

.tr{
  text-align: center;
  font-weight: 500;
  border:1px solid lightgray;
  font-size:13px;
}

.th{
  padding: 8px;
  border: 1px solid lightgray;
  max-width:80px;
}

.td{
  padding: 4px;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid lightgray;
}

.epig{
  display: flex;
  justify-content: flex-end;
  & > div {
    line-height: 22px;
    text-align: center;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 16px;
  }
}

.doctitle{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 0;
  & > div {
    text-transform: uppercase;
  }
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.bottomName{
  font-size: 16px;
  font-weight: 500;
  margin: 10px 15px;
}

.footer{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}